* {
    box-sizing: border-box;
}
.rt {
    justify-content: flex-end;
}
.lt {
    justify-content: flex-start;
}
.ct {
    justify-content: center;
}

.main-app {
    padding: 0 32px;
    .map-n-table {
        height: 80vh;
        min-height: 600px;

        .map-section {
            height: 100%;
            .marker {
                color: red;
            }
        }

        .table-section {
            height: 100%;
            .search-section {
                position: relative;
                .search-icon {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    color: #333;
                }
                .close-icon {
                    position: absolute;
                    right: 32px;
                    top: 8px;
                    color: #333;
                    cursor: pointer;
                }
                .search-box {
                    padding: 10px;
                    height: 40px;
                    box-shadow: none;
                    border: 1px solid #26a69a;
                    box-sizing: border-box;

                    &:focus {
                        border: 2px solid #26a69a;
                        box-shadow: none;
                    }
                }
            }
            .table-header {
                display: flex;
                height: 40px;
                color: #333;
                background-color: #ccc;
                align-items: center;

                .header-data {
                    display: inline-flex;
                    width: 33.33%;
                    height: 100%;
                    align-items: center;
                    padding: 0 32px;
                    font-weight: 500;
                }
            }
        }
    }
}
